[Unit]
Description=Pi Tool Python
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /root/pi/tool.py
WorkingDirectory=/root/pi
User=root

[Install]
WantedBy=multi-user.target