/dts-v1/;
/plugin/;

/ {
    metadata {
        title = "Waveshare 1.3inch LCD HAT KEY";
        compatible = "radxa,zero3";
        category = "misc";
        description = "Waveshare 1.3inch LCD HAT For Radxa Zero 3W. This is the key part of the screen overlay";
    };
};

&{/} {
    buttons_joystick {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&buttons_joystick_pins>;

        key1 {
            label = "KEY1";
            gpios = <&gpio3 5 1>;
        };

        key2 {
            label = "KEY2";
            gpios = <&gpio3 6 1>;
        };

        key3 {
            label = "KEY3";
            gpios = <&gpio3 7 1>;
        };

        joy_up {
            label = "JOY_UP";
            gpios = <&gpio3 12 1>;
        };

        joy_down {
            label = "JOY_DOWN";
            gpios = <&gpio3 4 1>;
        };

        joy_left {
            label = "JOY_LEFT";
            gpios = <&gpio3 11 1>;
        };

        joy_right {
            label = "JOY_RIGHT";
            gpios = <&gpio1 4 1>;
        };

        joy_press {
            label = "JOY_PRESS";
            gpios = <&gpio3 19 1>;
        };
    };
};

&pinctrl {
    buttons_joystick {
        buttons_joystick_pins: buttons-joystick-pins {
            rockchip,pins = 
                <3 5 0 &pcfg_pull_up>,
                <3 6 0 &pcfg_pull_up>,
                <3 7 0 &pcfg_pull_up>,
                <3 12 0 &pcfg_pull_up>,
                <3 4 0 &pcfg_pull_up>,
                <3 11 0 &pcfg_pull_up>,
                <1 4 0 &pcfg_pull_up>,
                <3 19 0 &pcfg_pull_up>;
        };
    };
};